*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  
}
.nav-item {
  font-family:"Inter";
}

.nav-item:hover {
  font-family:"Inter";
  
  text-decoration: underline;
  background-color: #555;
}
.navbar-brand{
  font-family: "Inter";
  
}

body{
  background-image: url('./pages/images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100%;
}
.home-background{
  text-align: center;
  padding-top: 15em;
  color: white;
  font-style: italic;
  /* background-image: url('./pages/images/home-background.jpeg');
  background-size: cover; */
  
}
.nav-link a:hover{
  background-color: pink;
}
.about-header{
  color: white;
  text-align: center;
  padding-top:0.1em;
  font-size: 10em;;
}
.about-container{
  max-width: 80%;
  color: white;
  padding: 0.7em;
  padding-top:4.5em;
  margin-left: auto;
  margin-right: auto;

}
.about-container{
  display: flex;
  border: 1px solid white;

}
.about-me{
  font-size: 1.2em;
  max-width: 50%;
  text-align: justify;
  font-weight: bold;
  margin-top: 4em;
  padding-left: 5em;
  font-family:"Inter";
  
}


.myimage{
  margin-left: 17em;
  
  border: 5px solid #555
}


.card{
  width: 28rem;
}







/* animation1 */

.reveal-1{
  overflow: hidden;
  line-height: 1;
  font-family:"Inter";
}
.reveal-1 span{
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
/* animation2 */
.reveal-2{
  overflow: hidden;
  font-family:"Inter";
  line-height: 3;
}
.reveal-2 span{
  display: block;
  animation: reveal 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.reveal-3{
  overflow: hidden;
  font-family:"Inter";
  line-height: 4;
}
.reveal-3 span{
  display: block;
  animation: reveal 4.5s cubic-bezier(0.77, 0, 0.275, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
.fa-brands{
  color: white;
}

.fa-brands:hover{
  color: Dodgerblue;
  font-size: xx-large;
  
}


.footer .navbar-nav{
margin-left: 45%;

}